# Node
node_modules
npm-debug.log

# Build
dist
coverage

# Git
.git
.gitignore

# Env
.env
.env.*

# Logs
logs
*.log

# Editor
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Tests
.nyc_output

# Misc
tmp
.cache