# Manufacturers
COMPANY_CODE=1177
# MQTT
MQTT_HOST=localhost
MQTT_PORT=8883
MQTT_PROTOCOL=mqtts
MQTT_TOPIC='ruuvi/#'
# Auth
MQTT_USERNAME=
MQTT_PASSWORD=
# TLS
MQTT_CA=<path to ca.crt>
MQTT_CERT=<path to gateway.crt>
MQTT_KEY=<path to gateway.key>
MQTT_REJECT_UNAUTHORIZED=true
# Influx
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=<token>
INFLUX_ORG=ruuvi-org
INFLUX_BUCKET=ruuvi
# HTTP
NODE_ENV=development
HTTP_PORT=3002
BUFFER_SIZE=500
FLUSH_INTERVAL=5000
